<div class="app-header">
    <img src="path_to_logo" alt="Logo" class="logo" />
    <div class="banner">
        <!-- Centered Banner Content -->
    </div>
    <div class="user-subscription">
        <!-- User Subscription Content -->
    </div>
</div>
